<script src="/static/scripts/deleteProfile.js" type="module"></script>

<p>You are about to permanently remove your profile and all of it's contents!</p>
<p>Are you sure? <a href="/">No</a> / <a id="delete" href="#">Yes</a>
</p>