<script src="/static/scripts/home.js" type="module"></script>
<script type="module">
    import { onPostComment } from '/static/scripts/home.js'
    window.onPostComment = onPostComment
</script>

<a id="createPostA" href="/posts/create">post</a>

<ul class="homePosts">
    {{#if posts}}
    {{#each posts}}
    {{>postCard}}
    {{/each}}
    {{else}}
    <p>No posts for you yet.</p>
    {{/if}}
</ul>