<script src="/static/scripts/profile.js" type="module"></script>

<img width="100" height="100" src="/static/images/{{#if profilePic}}{{profilePic}}{{else}}profile.png{{/if}}">

<form action="/profile" method="post" enctype="multipart/form-data">
    <label for="profilePic"></label><br>
    <input type="file" name="profilePic" value="{{#if profilePic}}change{{else}}upload{{/if}}"><br>
    <input type="submit" value="Upload"><br>
</form>

<a id="showRequests" href="javascript:void(0)">Friendship requests</a>
<ul id="friendRequests">
</ul>

{{#if posts}}
<div class="profilePosts">
    {{#each posts}}
    {{>postCard}}
    {{/each}}
</div>
{{/if}}