<script src="/static/scripts/profile.js" type="module"></script>

<img width="100" height="100" src="/static/images/{{#if profilePic}}{{profilePic}}{{else}}profile.png{{/if}}">

<form action="/profile" method="post" enctype="multipart/form-data">
    <label></label><br>
    <input type="file" name="profilePic" value="{{#if profilePic}}change{{else}}upload{{/if}}"><br>
    <input type="submit" value="Upload"><br>
</form>

<div id="profileListOptions">
    <a id="showRequests" href="javascript:void(0)">Friendship requests</a>
    <a id="showFriends" href="javascript:void(0)">Friends</a>
    <a id="showPosts" href="javascript:void(0)">My posts</a>
</div>
<div id="profileList">
    {{#if posts}}
    {{#each posts}}
    {{>postCard}}
    {{/each}}
    {{/if}}
</div>