<script src="/static/scripts/register.js" type="module"></script>
{{#if errorMsgs}}
<div>
    {{#each errorMsgs}}
    <p>{{this}}</p>
    {{/each}}
</div>
{{/if}}
<div class="authFormContainer">
    <form id="registerForm" action="/register" method="post">
        <div class="registerDiv">
            <div>
                <label class="registerLabel" for="username">Username</label>
            </div>
            <div class="authInput">
                <input type="text" name="username" placeholder="username" value="{{user.username}}">
                <label class="requirement-message"></label><br>
            </div>
        </div>
        <div class="registerDiv">
            <div>
                <label class="registerLabel" for="email">E-mail</label>
            </div>
            <div class="authInput">
                <input type="text" name="email" placeholder="email" value="{{user.email}}">
                <label class="requirement-message"></label><br>
            </div>
        </div>
        <div class="registerDiv">
            <div>
                <label class="registerLabel" for="password">Password</label>
            </div>
            <div class="authInput">
                <input type="password" name="password" placeholder="password">
                <label class="requirement-message"></label><br>
            </div>
        </div>
        <div class="registerDiv">
            <div>
                <label class="registerLabel" for="rePassword">Repeat password</label>
            </div>
            <div class="authInput">
                <input type="password" name="rePassword" placeholder="repeat password">
                <label class="requirement-message"></label><br>
            </div>
        </div>

        <div class="registerDiv">
            <div>
                <label class="registerLabel" for="gender">Gender</label>
            </div>
            <div class="genderRadio">
                <input type="radio" name="gender" value="male">
                <label for="male">male</label>
                <input type="radio" name="gender" value="female">
                <label for="female">female</label>
            </div>
        </div>
        <input style="margin-right: 300px;" type="submit" value="Register">
    </form>
</div>