<div>
    <form action="/profile/settings" method="post">
        <label>Who can see my posts: <select name="seeMyPosts" id="myPostsSelect">
                {{#each myPostsSelect}}
                <option value="{{value}}" {{#if selected}}selected{{/if}}>{{value}}</option>
                {{/each}}
            </select>
        </label>
        <br><br>
        <label>I see posts from: <select name="postsISee" id="othersPostsSelect">
                {{#each othersPostsSelect}}
                <option value="{{value}}" {{#if selected}}selected{{/if}}>{{value}}</option>
                {{/each}}
            </select>
        </label>
        <br><br>
        <input type="submit" value="Save changes">
    </form><br><br>
    <a href="/profile/delete">Remove profile</a>
</div>