<div class="settingsContainer">
    <form action="/profile/settings" method="post">
        <div>
            <label for="myPostsSelect">Who can see my posts: </label>
            <select name="seeMyPosts" id="myPostsSelect">
                {{#each myPostsSelect}}
                <option value="{{value}}" {{#if selected}}selected{{/if}}>{{value}}</option>
                {{/each}}
            </select>
        </div>
        <div>
            <label for="othersPostsSelect">I see posts from: </label>
            <select name="postsISee" id="othersPostsSelect">
                {{#each othersPostsSelect}}
                <option value="{{value}}" {{#if selected}}selected{{/if}}>{{value}}</option>
                {{/each}}
            </select>
        </div>
        <input type="submit" value="Save changes">
    </form><br><br>
    <a href="/profile/delete">Remove profile</a>
</div>