body {
    margin: 0;
    height: 100%;
}

header {
    position: sticky;
    top: 0;
}

header nav {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: aliceblue;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.05);
}

nav>div {
    margin-left: 20px;
    margin-right: 20px;
}

#searchNmenu {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#headerUl {
    width: 300px;
}

#headerUl li {
    display: inline-block;
}

#profileDrop {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

#profileDrop>a:nth-child(2) {
    margin-left: 10px;
}

#dropDown {
    position: absolute;
    display: none;
    right: 0px;
    top: 40px;
    width: 150px;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#dropDown>a {
    display: block;
    width: 70px;
}

.requirement-message {
    color: red;
}

#profilePic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#friendRequests {
    display: none;
}




.chatBox {
    background-color: #fff;
    position: fixed;
    bottom: 0px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chatForm {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

.chatInput {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

.chatInput:focus {
    outline: none;
}

.chatInput>button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

.chatMessages {
    border: 1px solid rgb(195, 195, 255);
    overflow: auto;
    height: 200px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.chatMessages>li {
    padding: 0.5rem 1rem;
}





.homePosts {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.postCard {
    border-radius: 10px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 700px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.postCard>div {
    display: flex;
    flex-direction: row;
}