header nav>a,
header nav>ul,
header nav>div {
    display: inline;
}

#profileDrop {
    position: relative;
}

header ul li {
    display: inline;
}

#profileDropDown {
    position: absolute;
    display: none;
    left: 0px;
    width: 200px;
    height: 200px;
}

#profileDropDown>a {
    display: block;
}

.requirement-message {
    color: red;
}

#profilePic {
    width: 30px;
    height: 30px;
}